@tailwind base;
@tailwind components;
@tailwind utilities;

:root { color-scheme: light; }

html, body {
  height: 100%;
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, Apple Color Emoji, Segoe UI Emoji;
}
